{% extends 'base.html' %}

{% block contents %}
      <div class="row mt-5">
        <div class="col-12 text-center">
          <h1>회원가입</h1>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          {{ error }}
        </div>
        <div class="col-12">
          <form method="POST" action=".">
            {% csrf_token %}
            <!-- 장고에서 폼을 받아오는 일종의 암호화  -->
            <div class="form-group">
              <label for="username">사용자 이름</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="사용자이름을 입려하세요"
                name="username"
              />
            </div>
            <div class="form-group">
              <label for="useremail">사용자이메일</label>
              <input
                type="email"
                class="form-control"
                id="useremail"
                placeholder="사용자이메일을 입려햊쉐요"
                name="useremail"
              />
            </div>            
            <div class="form-group">
              <label for="password">비번</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="비밀번호"
                name="password"
              />
              <small id="passwordHelp" class="form-text text-muted"
                >비번은 8자 이상으로 해줏메</small
              >
            </div>
            <div class="form-group">
              <label for="re-password">비번 확인</label>
              <input
                type="password"
                class="form-control"
                id="re-password"
                placeholder="비밀번호 확인"
                name="re-password"
              />
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
          </form>
        </div>
      </div>
{% endblock contents %}
